p {
    font-size: 13px;
    width: 650px;
    left: 20px;
    top: 420px;
    position: relative;
    text-align: justify;
    font-family: arial;
}
body {
    margin: 30px;
}
.img1 {
    width: 700px;
    top: 100px;
    position: absolute;
}
.img2 {
    width: 100px;
    position:fixed;
    top: 0px;
    left: 0px;
    height: 80px;
}
.barra {
  background-color: rgb(34, 173, 57);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  border-bottom: rgb(0, 0, 0);
}
button {
    width: 300px;
    position: fixed;
    left: 1040px;
    top: 24px;
    height: 30px;
    text-align:end;
}